<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to text analyzer</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="width: 1288px; height: 203px;">

        </textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuations<br>
    <input type="checkbox" name="fullcaps">Capitalize<br>   
    <input type="checkbox" name="swap">Text Swapper<br>
    <input type="checkbox" name="space">Extra Space Remover<br>
    <input type="checkbox" name="charcounter">Character counter<br>
    <button type="submit">Analyze text</button>
    </form>
</body>
</html>